<section>
    <div class="main">
        <div class="container">
            <div class="row mt-5">
                <div class="logomax col-sm-6">
                    <h2>Supper
                        <span id="logo">Mottor Care</span>
                    </h2>
                    <h5>
                        Quan tâm xe bạn như cách bạn quan tâm đến bồ nhí !
                    </h5>
                </div>

                <div class="col-sm-6">
                    <form>
                        <h5 class="fw-bold">Đăng kí tài khoản</h5>
                        <div class="row">
                            <input placeholder="Nhập Username" type="text" class="p-3 form-control">
                            <input placeholder="Nhập Email hoặc số điện thoại" type="text" class="p-3 mt-3 form-control">
                            <input placeholder="Nhập mật khẩu" type="password" class=" p-3 mt-3 form-control">
                            <input placeholder="Nhập lại mật khẩu" type="password" class="p-3 mt-3 form-control">
                            <button class="btn p-2 mt-3 btn-warning">Đăng kí ngay</button>
                            <button class="btn p-2 mt-3 btn-dark"><a href="/account/login">Quay về</a></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>